/**
* Arquivo: style.css
* 
* Descrição:
* Folha de estilos principal da Pizzaria BellaVitta, contendo:
* - Estilos globais e tipografia
* - Componentes de UI e layouts responsivos
* - Efeitos visuais e animações
* - Temas e cores da marca
* 
* Estrutura do arquivo:
* -> Configurações globais e tipografia
* -> Componentes de navegação
* -> Seções de conteúdo (navbar,hero,sobre, serviços, cardápio,carousel,rodapé)
* -> Componente interativo ( carrossel)
* -> Responsividade 
* -> Efeitos e transições
* 
* @ Autor - Eduardo Torres Do Ó
* @ Direitos Reservados - 2025 BellaVitta
*/

/* ==============================================
   VARIÁVEIS E CONFIGURAÇÕES GLOBAIS
=============================================== */
:root {
  --primary-color: #ffc506;
  --dark-color: #252525;
  --text-light: #ffffff;
  --transition: all 0.5s ease;
}

/* ==============================================
   CORPO DE ESTILO DA PAGINA 
=============================================== */
body {
  font-family: "Poppins", sans-serif;
}

/* ==============================================
   LOGOTIPO
=============================================== */
.brand-logo {
  height: 75px;
  margin-right: -1px;
}

/* QUANDO O LOGO ESTIVER STICKY */
.brand-logo.sticky-top {
  max-height: 60px;
}

/* ==============================================
   BOTÃO 
=============================================== */

.btn-warning {
  font-weight: bold;
  font-size: 0.9rem;
  padding: 6px 10px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.btn-warning:hover {
  background-color: transparent;
  color: rgb(255, 208, 0);
  border: 2px solid rgb(255, 208, 0);
}

/* ==============================================
   MENU DE NAVEGAÇÃO (NAVBAR)
=============================================== */
.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 999;
  transition: var(--transition);
}

/* NAVBAR QUANDO FOR STICKY */
.navbar.sticky-top {
  position: fixed;
  background: var(--dark-color);
}

/* ==============================================
   LINKS DE NAVEGAÇÃO DO NAVBAR
=============================================== */
.nav-link {
  font-family: "Nunito", sans-serif;
  position: relative;
  margin-right: 25px;
  padding: 35px 0;
  color: var(--text-light) !important;
  font-size: 18px;
  font-weight: 600;
  transition: var(--transition);
}

/* QUANDO FOREM STICKY */
.nav-link.sticky-top {
  padding: 20px 0;
  color: white !important;
}

/* QUANDO PASSA O MOUSE POR CIMA DOS LINKS OU QUANDO ESTÁ ATIVO */
.nav-link:hover,
.nav-link.active {
  color: var(--primary-color) !important;
}

/* EFEITO DE SUBLINHADO AMARELADO EM CIMA DA BORDA DO NAVBAR */
@media (min-width: 992px) {
  .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--primary-color);
    transition: var(--transition);
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: calc(100% - 2px);
    left: 1px;
  }
}

/* ==============================================
   COMPORTAMENTO DO NAVBAR , COLLAPSE , LINKS E LOGOTIPO PARA TELAS ATÉ 991PX
=============================================== */
@media (max-width: 991.98px) {
  .navbar {
    position: relative;
    background: var(--dark-color);
  }


  /* MENU COLAPSAVEL ( DENTRO DO BOTAO TOGGLER) */
  .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid #ddd;
  }

  .nav-link {
    padding: 10px 0 !important;
    margin-right: 0 !important;
    color: var(--text-light) !important;
  }

  .brand-logo {
    max-height: 45px;
  }

  /* BOTÃO DO NAVBAR-TOGGLER */
  .navbar-toggler {
    border-color: var(--dark-color);
    background-color: var(--primary-color);
  }
}

/* ==============================================
   SEÇÃO HERO
=============================================== */
.hero-section {
  background: linear-gradient(rgba(27, 26, 26, 0.6), rgba(27, 26, 26, 0.6)),
    url(../img/hero/fundopizza.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* ==============================================
   SEÇÃO SERVIÇOS
=============================================== */
.service-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
}

.service-item:hover {
  transform: scale(1.05) perspective(1000px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

/* ==============================================
   SEÇÃO CARDÁPIO
=============================================== */

/* IMAGEM DAS PIZZAS DENTRO DO CONTAINER */
.card-img-container {
  width: 100%;
  height: 280px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.card-img-container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ALINHAMENTO DO CONTEÚDO */
.card-body {
  text-align: center;
}

/* TITULO DOS CARDS */
.card-title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

/* ESPAÇAMENTO ENTRE OS CARDS */
.list-unstyled li {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 3px 0;
}

/* EFEITO 3D NOS CARDS DAS PIZZAS */
.card-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
}

.card-item:hover {
  transform: scale(1.05) perspective(1000px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

/* ==============================================
   CAROUSSEL DE TESTEMUNHAS
=============================================== */

/*  EFEITO DE TRANSIÇÃO DE UMA TESTEMUNHA PARA OUTRA */
.testimonial-carousel::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 1;
}

.testimonial-carousel::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 1;
}

/* RESPONSIVIDADE PARA DISPOSTIVOS */

@media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 300px;
  }
}

/* SUAVIZA TRANSIÇÃO ENTRE A PASSAGEM DE UM SLIDE PARA OUTRO */
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
  transition: 0.3s;
}

/* TIPOGRAFIA DAS INFO DAS TESTEMUNHAS */
.testimonial-carousel .owl-item.center .testimonial-item * {
  color: #ffffff !important;
}

/* PONTOS(DOTS) */
.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #cccccc;
  border-radius: 15px;
  transition: 0.5s;
}

/* ESTELAS DO CAROUSEL */
.testimonial-carousel .testimonial-item .stars {
  margin-top: -10px;
  margin-bottom: 5px;
}

.testimonial-carousel .testimonial-item .stars .star-fixed {
  color: #ffc107 !important;
  font-size: 16px;
}

.testimonial-carousel {
  display: flex;
}

/* CADA TESTEMUNHA DO CAROUSEL */
.testimonial-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  height: auto;
}

/* GARANTE QUE OS ELEMENTOS DO CAROUSEL TENHAM MESMA ALTURA INDEPENDENTE DO CONTEÚDO DELES */
.owl-stage-outer,
.owl-stage,
.owl-item {
  display: flex;
  align-items: stretch;
}

.owl-item .testimonial-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}
